@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<blockquote class="blockquote text-right">
    <p class="mb-0">"I'm gonna steal it. I'm gonna steal The Declaration of Independence."</p>
    <footer class="blockquote-footer">National Treasure</footer>
</blockquote>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h4>Write to us -</h4><br />
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <address>
                            <strong>Address</strong><br />
                            Independence Hall<br />
                            520 Chestnut St<br />
                            Philadelphia, Pennsylvania<br />
                            19106, USA<br />
                        </address>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <address>
                            <strong>Support:</strong><br /> <a href="mailto:Support@example.com">matthew.phelan@emovies.com</a><br />
                            <strong>Marketing:</strong><br /> <a href="mailto:Marketing@example.com">matthew.phelan@emovie.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="https://cdn-static.denofgeek.com/sites/denofgeek/files/styles/main_wide/public/2016/03/cage_geek.jpg?itok=bMkCXDlI" style="max-width: 413px; width: 100%;"/>
        </div>
    </div>
</div>

