@model eMovies.ViewModels.SignInViewModel

@{
    ViewBag.Title = "Sign In";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
}

<h3> Customer Portal - Coming Soon!</h3>

